.autocomplete-suggestions {
   /* core styles should not be changed */
   position: absolute;
   display: none;
   z-index: 9999;
   max-height: 254px;
   overflow: hidden;
   overflow-y: auto;
   box-sizing: border-box;
}
.adc-autocomplete {
   width: 100%;
    position: relative;
}
.adc-autocomplete .nomatch {
    position: absolute;
    font-style: italic;
    padding-left: 10px;
    z-index: 1;
}
.adc-autocomplete .hiddens {
   display: none;
}
.adc-autocomplete [type="search"] {
    -webkit-appearance: none;
}
.adc-autocomplete .autocomplete {
   width: 95%;
   padding: 10px 0 10px 10px;
   margin: 5px 0;
   outline:0;
}
.autocomplete-suggestions {
   cursor: default;
   border-top: 0;
   box-shadow: -1px 1px 3px rgba(0,0,0,.1);
}
.autocomplete-suggestion {
   position: relative;
   padding: 0.2em;
   line-height: 23px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   cursor: pointer;
}
.autocomplete-suggestion b {
   font-weight: normal;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }

button.close-icon:after {
    content: "X";
    display: block;
    background-color: transparent;
    z-index: 1;
    right: 5px;
    top: -15px;
    bottom: 0;
    margin: auto;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    color: black;
    font-weight: normal;
    font-size: 12px;
    cursor: pointer;
}

button.close-icon {
    border: 1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    padding: 1px;
    margin: 0;
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    float: right;
}

input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none;-webkit-appearance: none; }
