<?xml version="1.0" encoding="utf-8"?>
<control  xmlns="http://www.askia.com/2.2.0/ADCSchema"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.askia.com/2.2.0/ADCSchema https://raw.githubusercontent.com/AskiaADX/ADXSchema/2.2.0/ADCSchema.xsd"
          version="2.2.0"
          askiaCompat="5.5.2">
  <info>
    <name>AutoComplete</name>
    <guid>4b7058ef-4656-4aa4-ae9c-269c8a2810f8</guid>
    <version>3.1.5</version>
    <date>2021-03-31</date>
    <description><![CDATA[autoComplete: open text box with search capability as google search]]></description>
    <company>Askia</company>
    <author><![CDATA[Jérôme Duparc <jeromed@askia.com>]]></author>
    <site>http://www.askia.com</site>
    <helpURL></helpURL>
    <categories>
      <category>General</category>
    </categories>
    <constraints>
      <constraint on="questions" chapter="false" single="true" multiple="false" numeric="false" date="false" open="true" requireParentLoop="false" requireLoopDepth="1" />
      <constraint on="controls" responseblock="true" label="false" textbox="true" checkbox="false" listbox="false" radiobutton="false" />
      <constraint on="responses" max="*" min="*" />
    </constraints>
  </info>
  <outputs defaultOutput="default">
    <output id="default" manageLoopDepth="1">
      <description><![CDATA[Javascript is enable]]></description>
      <condition><![CDATA[browser.support("Javascript")]]></condition>
      <content fileName="auto-complete.css" type="css" mode="static" position="head" />
      <content fileName="styles.css" type="css" mode="dynamic" position="head" />
      <content fileName="default.html" type="html" mode="dynamic" position="placeholder" />
      <content fileName="auto-complete.js" type="javascript" mode="static" position="foot" />
      <content fileName="IncludeDatabase.html" type="html" mode="dynamic" position="foot" />
      <content fileName="Initializer.js" type="javascript" mode="dynamic" position="foot" />
      <content fileName="single.js" type="javascript" mode="dynamic" position="none" />
      <content fileName="single.html" type="html" mode="dynamic" position="none" />
      <content fileName="open.html" type="html" mode="dynamic" position="none" />
    </output>
    <output id="fallback" manageLoopDepth="1">
      <description><![CDATA[Javascript is not enable]]></description>
      <condition><![CDATA[not(Browser.Support("javascript"))]]></condition>
      <content fileName="NotSupportedBrowser.html" type="html" mode="dynamic" position="placeholder" />
    </output>
  </outputs>
  <properties>
    <category id="General" name="General">
      <property xsi:type="standardProperty" id="useDatabase" name="Load data from database file" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Load data from database file or use answer options of current question]]></description>
        <value><![CDATA[yes]]></value>
        <options>
          <option value="yes" text="Yes" />
          <option value="no" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="database" name="Javascript database file path" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Path of the Javascript database file to include in the document]]></description>
        <value><![CDATA[??ResPath??data.js]]></value>
      </property>
      <property xsi:type="standardProperty" id="databaseName" name="Database name" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Name of the database]]></description>
        <value><![CDATA[DATABASENAME]]></value>
      </property>
      <property xsi:type="standardProperty" id="searchField" name="Search field" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[It indicates in which field name to search]]></description>
        <value><![CDATA[SEARCHFIELD]]></value>
      </property>
      <property xsi:type="standardProperty" id="additionalSearchField" name="Additional search field" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[It indicates in which additional field names to search. Separate each field with comma separator]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="filterField" name="Filter field" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[It indicates in which field name to filter]]></description>
        <value><![CDATA[FILTERFIELD]]></value>
      </property>
      <property xsi:type="standardProperty" id="filterValue" name="Filter value" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The value to use to filter]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="searchSeparator" name="Separator of words in input search" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[
          Separator of words in the input search
        ]]></description>
        <value><![CDATA[+]]></value>
      </property>
      <property xsi:type="standardProperty" id="minChars" name="Min characters" type="number" mode="dynamic" require="true" visible="true" min="1">
        <description><![CDATA[Indicates the minimum number of characters before to perform the search]]></description>
        <value><![CDATA[1]]></value>
      </property>
      <property xsi:type="standardProperty" id="responseInList" name="Response must match" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The response must match one of the responses of the database]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="2" text="Non" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="inputsWidth" name="Width of inputs" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Width of the inputs, you can also specified the unit (pixel by default)]]></description>
        <value><![CDATA[400px]]></value>
      </property>
      <property xsi:type="standardProperty" id="controlAlign" name="Control Alignment" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The alignment of the control]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="textAlign" name="Text Alignment" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The alignment of the text in the input and suggestions]]></description>
        <value><![CDATA[left]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="fontSize" name="Font Size" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The font size of the control]]></description>
        <value><![CDATA[{%= Theme.NormalFS %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderRadius" name="Border Radius" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The amount of curve on the input and suggestions corners]]></description>
        <value><![CDATA[{%= Theme.BorderRadius %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="placeholder" name="Placeholder" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Short hint that describes the expected value]]></description>
        <value><![CDATA[...]]></value>
      </property>
      <property xsi:type="standardProperty" id="autofocus" name="Autofocus" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Autofocus on the text box]]></description>
        <value><![CDATA[no]]></value>
        <options>
          <option value="autofocus" text="Yes" />
          <option value="no" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="noMatchFound" name="No match found caption" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Text to display when no match found in the database]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="noMatchOffset" name="No match found offset" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Margin botton to apply when no match found caption found]]></description>
        <value><![CDATA[0px]]></value>
      </property>
      <property xsi:type="standardProperty" id="sortFirst" name="Sort matching beginning first" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Sort the results alphabetically matching the beginning of string then alphabetically for contained text]]></description>
        <value><![CDATA[no]]></value>
        <options>
          <option value="yes" text="Yes" />
          <option value="no" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="searchPhonetic" name="Use phonetic search" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Use phonetic search, if yes this groups are treated equally Aaàáâãä ; Eeèéêë ; IiïîyY ; Ooöô ; Uuùúûü ; Ccç]]></description>
        <value><![CDATA[no]]></value>
        <options>
          <option value="yes" text="Yes" />
          <option value="no" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="selectOnHover" name="Select on hover" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Select suggestions on mouse hover]]></description>
        <value><![CDATA[no]]></value>
        <options>
          <option value="yes" text="Yes" />
          <option value="no" text="No" />
        </options>
      </property>
    </category>
    <category id="input" name="Input">
      <property xsi:type="standardProperty" id="backgroundColor" name="Background Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[Background color of the input]]></description>
        <value><![CDATA[{%= Theme.WhiteColor.ToRGB() %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="color" name="Font Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[Font color of the input]]></description>
        <value><![CDATA[{%= Theme.BlackColor.ToRGB() %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderColor" name="Border Color" type="color" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[The border colour around the input]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor.ToRGB() %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderThickness" name="Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the input]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderStyle" name="Border Style" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The style of the border around the input]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="backgroundColorHover" name="Hover Background Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[Background color of the input when hovered over]]></description>
        <value><![CDATA[{%= Theme.WhiteColor.ToRGB() %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="colorHover" name="Hover Font Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[Font color of the input when hovered over]]></description>
        <value><![CDATA[{%= Theme.BlackColor.ToRGB() %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderColorHover" name="Hover Border Color" type="color" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[The border colour around the input when hovered over]]></description>
        <value><![CDATA[{%= Theme.SecondaryColor.ToRGB() %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderThicknessHover" name="Hover Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the input when hovered over]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderStyleHover" name="Hover Border Style" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The style of the border around the input when hovered over]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="backgroundColorFocus" name="Focus Background Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[Background color of the input when focused]]></description>
        <value><![CDATA[{%= Theme.WhiteColor.ToRGB() %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="colorFocus" name="Focus Font Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[Font color of the input when focused]]></description>
        <value><![CDATA[{%= Theme.BlackColor.ToRGB() %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderColorFocus" name="Focus Border Color" type="color" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[The border colour around the input when focused]]></description>
        <value><![CDATA[{%= Theme.SecondaryColor.ToRGB() %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderThicknessFocus" name="Focus Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the input when focused]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderStyleFocus" name="Focus Border Style" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The style of the border around the input when focused]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
    </category>
    <category id="suggestions" name="Suggestions">
      <property xsi:type="standardProperty" id="backgroundColorSuggestions" name="Suggest Background Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[The background color of the suggestions box]]></description>
        <value><![CDATA[{%= Theme.WhiteColor.ToRGB() %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="colorSuggestions" name="Suggest Font Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[The font color of the suggestions]]></description>
        <value><![CDATA[{%= Theme.BlackColor.ToRGB() %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="colorSearchSuggestions" name="Suggest Search Font Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[The font color of the search terms of the suggestions]]></description>
        <value><![CDATA[{%= Theme.SecondaryColor.ToRGB() %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderColorSuggestions" name="Suggest Border Color" type="color" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[The border colour around the suggestions]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor.ToRGB() %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderThicknessSuggestions" name="Suggest Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the suggestions]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderStyleSuggestions" name="Suggest Border Style" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The style of the border around the suggestions]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="backgroundColorSuggestionsHover" name="Hover Suggest Background Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[The background color of the suggestions when hovered over]]></description>
        <value><![CDATA[{%= Theme.PrimaryColor.ToRGB() %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="colorSuggestionsHover" name="Hover Suggest Font Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[The font color of the suggestions when hovered over]]></description>
        <value><![CDATA[{%= Theme.WhiteColor.ToRGB() %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="colorSearchSuggestionsHover" name="Hover Suggest Search Font Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[The font color of the search terms of the suggestions when hovered over]]></description>
        <value><![CDATA[{%= Theme.SecondaryColor.ToRGB() %}]]></value>
      </property>
    </category>
    <category id="fallBackNotSupportedBrowser" name="Not supported browser">
      <property xsi:type="standardProperty" id="notSupportedBrowser" name="Not supported browser" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Message to display to the non-supported browser]]></description>
        <value><![CDATA[Sorry this page uses Javascript code, please enable it.]]></value>
      </property>
    </category>
    <category id="ErrorMessages" name="Error Messages">
      <property xsi:type="standardProperty" id="highlightInputOnError" name="Highlight input" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Highlight the input on error message appearing]]></description>
        <value><![CDATA[no]]></value>
        <options>
          <option value="yes" text="Yes" />
          <option value="no" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="highlightConditionBlockingErrorMessage" name="Highlight Condition on blocking error message" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Condition when to highlight the border of the input for blocking error messages]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="highlightFontColorBlockingErrorMessage" name="Highlight font color on blocking error message" type="color" mode="dynamic" require="false" visible="true" colorFormat="rgb">
        <description><![CDATA[Color of the font to highlight when blocking error message appears]]></description>
        <value><![CDATA[{%= Theme.ErrorColor.ToRGB() %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="highlightBorderColorBlockingErrorMessage" name="Highlight border color on blocking error message" type="color" mode="dynamic" require="false" visible="true" colorFormat="rgb">
        <description><![CDATA[Color of the border to highlight when blocking error message appears]]></description>
        <value><![CDATA[{%= Theme.ErrorColor.ToRGB() %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="highlightConditionNonBlockingErrorMessage" name="Highlight Condition on non blocking error message" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Condition when to highlight the border of the input for non blocking error messages]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="highlightFontColorNonBlockingErrorMessage" name="Highlight font color on non blocking error message" type="color" mode="dynamic" require="false" visible="true" colorFormat="rgb">
        <description><![CDATA[Color of the font to highlight when non blocking error message appears]]></description>
        <value><![CDATA[228,214,0]]></value>
      </property>
      <property xsi:type="standardProperty" id="highlightBorderColorNonBlockingErrorMessage" name="Highlight border color on non blocking error message" type="color" mode="dynamic" require="false" visible="true" colorFormat="rgb">
        <description><![CDATA[Color of the border to highlight when non blocking error message appears]]></description>
        <value><![CDATA[228,214,0]]></value>
      </property>
    </category>
  </properties>
</control>
