.autocomplete-suggestions {
   /* core styles should not be changed */
   position: absolute;
   display: none;
   z-index: 9999;
   max-height: 254px;
   overflow: hidden;
   overflow-y: auto;
   box-sizing: border-box;
}
.adc-autocomplete {
   width: 100%;
}
.adc-autocomplete .hiddens {
   display: none;
}
.adc-autocomplete .autocomplete {
   width: 95%;
   padding: 10px 0 10px 10px;
   margin: 5px 0;
   outline:0;
}
.autocomplete-suggestions {
   cursor: default;
   border-top: 0;
   box-shadow: -1px 1px 3px rgba(0,0,0,.1);
}
.autocomplete-suggestion {
   position: relative;
   padding: 0 .6em;
   line-height: 23px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   cursor: pointer;
}
.autocomplete-suggestion b {
   font-weight: normal;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }

